@charset "utf-8";
/*-------------------------车族网*/
/*-------------------------2011年8月30日*/
/*-------------------------版本1.0*/
/*页面清零*/
body,ul,ol,li,dl,dt,dd,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{font-size:12px;font-family:"SimSun","Arial Narrow";}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:underline; color:#313030;}
a {blr:expression(this.onFocus=this.blur())} /*if IE*/
a {outline:none;}/*if 火狐等现代浏览器浏览器*/  
/*故两个都加载style里面，保证所有兼容*/
/*头部*/
.czArea{width:755px; display:block; overflow:hidden; margin:0 auto;}
/*评论*/
.commentOn{
	width:753px;
	display:block;
	overflow:hidden;
	border:#A5BCFF solid 1px;
	background:#F3F8FD;
	padding:15px 0px;
	margin-top:25px;
	font-family:Verdana;
}
.commentOn .plTitle{
	height:45px;
	width:713px;
	padding:0 20px;
}
.plTitle img{
	float:left;
}
.plTitle span{
	float:right;
	line-height:22px;
}
.plTitle span a{
	color:#2b2b2b;
	text-decoration:none;
}
.plTitle span a em{
	font-style:normal;
	color:#F00;
}
.reply{
	display:block;
	width:716px;
	overflow:hidden;
	padding:10px 20px;
	background:#FFF;
	border-top:#E9E9E9 solid 1px;
	border-bottom:#E9E9E9 solid 1px;
}
.reply .userInfo{
	display:block;
	overflow:hidden;
	height:25px;
	border-bottom:#BABABA solid 1px;
}
.reply .userName{
	float:left;
	background:url(../images/userBj.png) left center no-repeat;
	padding-left:15px;
	color:#000;
	font-size:14px;
	font-weight:bold;
}
.reply .replyTime{
	float:right;
	color:#8B8585;
	line-height:24px;
	font-size:11px;
}
.reply .replyContent{
	line-height:24px;
	font-size:14px;
	color:#2b2b2b;
	padding:15px 0;
	word-wrap:break-word;
	word-break:break-all;
}
.reply .operation{
	padding:0;
	text-align:right;
	margin-top:-18px;
	margin-left:684px;
	_margin-left:0;
	display:none;
	clear:both;
	position:absolute;
}
.reply .operation a{
	color:#2b2b2b;
	text-decoration:none;
	font-size:12px;
	margin:0 5px;
	float:right;
}

/*回复 引用 div*/
.thread{
	widows:716px;
	overflow:hidden;
	margin:0 auto;
	display:none;
}
/*回复 引用  当前项*/
.thread .threadThis{
	background:url(../images/relpyBjThis.png) bottom center no-repeat;
	width:30px;
	height:20px;
	position:relative;
	top:1px;
	text-decoration:none;
	display:none;
}
.threadTop{
	background:url(../images/relpyBjTop.png) left top no-repeat;
	height:5px;
	width:715px;
	font-size:0;
}
.threadCenter{
	display:block;
	height:190px;
	overflow:hidden;
	width:673px;
	background:#E2F0FF;
	border-left:#18399A solid 1px;
	border-right:#18399A solid 1px;
	padding:0 20px;
}
.threadUserInfo{
	width:673px;
	display:block;
	height:36px;
	line-height:36px;
	overflow:hidden;
}
.threadUserInfo span{
	float:left;
	color:#2b2b2b;
}
.threadUserInfo input{
	border:#D2E3FF solid 1px;
	height:22px;
	line-height:22px;
	vertical-align:middle;
	padding:0 5px;
	width:130px;
	float:left;
	margin:7px 10px 0 0;
	color:#999;
}
.threadUserInfo .threadUserName{
	font-weight:bold;
	display:none;
}
.textField{
	width:661px;
	height:108px;
	border:#b1b1b1 solid 1px;
	clear:both;
	display:block;
	margin:0 0 10px 0;
	line-height:20px;
	padding:0 5px;
}
.submitComment{
	width:673px;
	overflow:hidden;
}
.submitComment input{
	float:right;
	width:98px;
	height:27px;
	border:none 0;
	background:tranparent;
	background:url(../images/submitCommentSm.png) left top no-repeat;
}
.threadBottom{
	background:url(../images/relpyBjBottom.png) left top no-repeat;
	height:5px;
	width:715px;
	font-size:0;
}
.lookMore{
	height:60px;
	line-height:60px;
	text-align:center;
	display:block;
	background:#FFF;
	border-bottom:#E9E9E9 solid 1px;
	border-top:#E9E9E9 solid 1px;
}
.noContent{
	height:40px;
	line-height:40px;
	text-align:center;
	display:block;
	background:#FFF;
	font-size:14px;
	border-bottom:#E9E9E9 solid 1px;
	border-top:#E9E9E9 solid 1px;
	color:#999;
}
/*查看全部回复*/
.lookMore a{
	text-decoration:none;
	color:#2b2b2b;
	font-size:14px;
	font-family:"宋体";
}
.lookMore a em{
	font-style:normal;
	color:#F00;
	font-size:16px;
}
/*我要评论*/
.takeComment{
	width:713px;
	display:block;
	overflow:hidden;
	border:#A5BCFF solid 1px;
	background:#F3F8FD;
	margin-top:25px;
	font-family:Verdana;
	padding:15px 20px;
}
.takeComment .plTitle{
	height:45px;
	width:713px;
}
.userLogin_Reg{
	display:block;
	overflow:hidden;
	width:713px;
}
.userLogin_Reg p{
	display:block;
	overflow:hidden;
	line-height:20px;
	margin-bottom:5px;
}
.userLogin_Reg span{
	float:left;
}
.userLogin_Reg span a{
	text-decoration:none;
	color:#2b2b2b;
}
.userLogin_Reg input{
	border:#D2E3FF solid 1px;
	height:20px;
	line-height:20px;
	vertical-align:middle;
	padding:0 5px;
	width:130px;
	float:left;
	margin:0 10px 0 0;
	color:#333;
}
.takeUserName{
	display:none;
	width:713px;
	overflow:hidden;
	margin:10px 0;
	font-size:14px;
	color:#2b2b2b;
	font-weight:bold;
}
/*文本输入域*/
.takeTextField{
	width:701px;
	height:108px;
	border:#b1b1b1 solid 1px;
	clear:both;
	display:block;
	margin:10px 0 10px 0;
	line-height:20px;
	padding:0 5px;
}
.takeSbmComment{
	width:713px;
	display:block;
	overflow:hidden;
}
.takeSbmComment span{
	float:right;
	color:#CCC; line-height:37px;
}
.takeSbmComment input{
	float:right;
	width:125px;
	height:37px;
	border:none 0;
	background:tranparent;
	background:url(../images/takeSbmComment.png) left top no-repeat;
	cursor:pointer;
}